@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.containerContato{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerTitleContato{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTitleContato p{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}
.lineTitle{
    border-bottom: 3px solid #1f1f1f;
}
.containerBlocosContato{
    width: 100%;
    height: 300px;
    background: red;
    display: flex;
}

.containerContatoCidade{
    width: 50%;
    height: 300px;
    background: wheat;
}
.containerRedes{
    width: 50%;
    height: 300px;
    background: violet;
}
.containerMaps{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    width: 97vw;
    margin-top: 20px;
}