@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.containerOrcamento{
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1189ce;
    text-align: center;
}

.containerOrcamento a{
    list-style: none;
    text-decoration: none;
}

.containerOrcamento p{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 22px;
}

.containerButton{
    width: 200px;
    height: 40px;
    background: rgb(22, 134, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
}