@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

/* About section */
.containerSection1{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTitleSobre{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo{
    width: 100%;
    height: auto;
}
.titleSobre{
    border-bottom: 5px solid rgb(48, 48, 48);
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    margin-left: 60px;
    margin-top: -60px;
    color: rgb(41, 41, 41);
}
.subtitleSobre{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 10px 0 0 60px;
}
.contaierSobreImg{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTitleSobre img{
    width: 700px;
}

@media (max-width: 600px)
{
    .titleSobre{
        font-size: 40px;
    }
    .containerSection1{
        flex-direction: column;
        justify-content: flex-start;
    }
    .containerTitleSobre{
        width: 100vw;
    }
    .containerSobreImg{
        width: 100vw;
    }
    .titleSobre{
        margin-top: 50px;
        margin-left: 20px;
    }
    .subtitleSobre{
        font-size: 15px;
        margin: 20px;
    }
    .containerTitleSobre img{
        width: 350px;
    }
    .top{
        margin-top: 50px;
    }
}